API_BASE_URL=http://127.0.0.1

RUTA_ELIMINAR=/api/dictaminaciones/bulk
RUTA_NUEVO_USUARIO=/api/auth/register
RUTA_GENERAR_DICTAMEN=/api/dictaminaciones
RUTA_LECTURA_DICTAMINACIONES=/api/dictaminaciones
RUTA_MODIFICAR_DICTAMEN=/api/dictaminaciones/{clave}
RUTA_VISUALIZAR_INSCRITOS=/api/inscritos/{boleta}
RUTA_LOGIN=/api/auth/login
RUTA_AUTENTICACION=/api/auth/me
RUTA_REFRESH=/api/auth/refresh
RUTA_REPROBADOS=/api/reprobados
