API_BASE_URL=http://127.0.0.1

RUTA_ELIMINAR=/api/dictaminaciones/bulk
RUTA_NUEVO_USUARIO=/api/auth/register
RUTA_GENERAR_DICTAMEN=/api/dictaminaciones
RUTA_LECTURA_DICTAMINACIONES=/api/dictaminaciones
RUTA_VISUALIZAR_INSCRITOS=/api/inscritos/{boleta}
RUTA_LOGIN=/api/auth/login
RUTA_REPROBADOS=/api/reprobados
RUTA_REFRESH_TOKEN=/api/auth/refresh

ADMIN_USERNAME=
ADMIN_PASSWORD=